
.container {
  width: 100%;
  /* min-height: 100vh; */
  background: #e3eff3;
  display: flex;
}
.container .outer {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.container .outer .show_random p span {
    font-weight: 600;
}
.container .outer .inner{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    width: 100%;
}
.container .outer .inner p{
   text-align: left;
}
.container .outer .inner div{
    width: 100%;
    /* max-width: 42%; */
}
.container .outer .inner div input{
    padding: 8px;
    /* border: none;
    outline: none;
    width: 100%; */
}
.container .outer button{
    align-self: flex-end;
    background: #292977;
    color: #fff;
    padding: 15px;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
}